<div id="go-top">
    </div>
        <style type="text/css">
        #go-top {
            width:32px;
            height:32px;
            position:relative;
            border-radius:2px;
            position:fixed;
            right:10px;
            bottom:100px;
            cursor:pointer;
            display:none;
            z-index:10;
        }
        #go-top:after {
            content:url("/images/ico-to-top.png");
            position:absolute;
            left:0;
            width: 32px;
            height: 32px;
            background-size: contain;
        }

        </style>
        <script>
            $(function() {
                var o = $("#go-top");
                $(window).scroll(function() {
                    //监听滚动事件
                    300 < document.documentElement.scrollTop  ? o.show(300) : o.hide(200);
                })
                 //回到顶部
                 $("#go-top").click(function() {
                    return $("html,body").animate({ scrollTop: 0 })
                 })
            })
        </script>
